#!/bin/sh
#
# Remove IP and routing. IP must be from /etc/tinc/vpn*/hosts/server*
# 
#!/bin/bash
/sbin/route del -net 224.0.0.0 netmask 240.0.0.0 dev {{ bridge_iface }}
/sbin/brctl delif {{ bridge_iface }} vpn

# /sbin/ip route del {{ vpn_subnet }} dev $INTERFACE
# /sbin/ip addr del {{ priv_ip }}/32 dev $INTERFACE
/sbin/ip link set $INTERFACE down
echo 0 > /proc/sys/net/ipv4/ip_forward
